* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
  font-family: sans-serif;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto 1fr auto;
}

header {
  grid-column: 1 / span 2;
  grid-row: 1;
  background: #333;
  color: white;
  padding: 20px;
}

nav {
  grid-column: 1 / span 2;
  grid-row: 2;
  background: #111;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  gap: 30px;
  padding: 15px;
  white-space: nowrap;
  overflow-x: auto;
}

main {
  grid-column: 1;
  grid-row: 3;
  background: lightgray;
  padding: 30px;
}

aside {
  grid-column: 2;
  grid-row: 3;
  width: 300px;
  background: white;
  padding: 30px;
}

footer {
  grid-column: 1 / span 2;
  grid-row: 4;
  background: #333;
  color: rgb(226, 188, 188);
  padding: 20px;
}

header h1,
footer p,
main p,
aside p {
  margin: 0;
}


