*{
    margin: 0;
    padding: 0;

}

body {
    background: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    display: grid;
    grid-gap: 2px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.container > div,
.container .header
.container .main,
.container .aside,
.container .footer {
    background: white;
    padding: 20px;
    border-radius: 1px;
}

.container .header {
    background: #333333;
    color: #f6f6f6;
    grid-column: 1 / 5;
    grid-row: 1 / 2;
}

.container .nav {
    background: #000000;
    color: #e4e4e4;
    grid-column: 1 / 5;
    grid-row: 2 / 3;
}

.container .main {
    background: #cccccc;
    color: #464343;
    grid-column: 1 / 4;
    grid-row: 3 / 7;
}

.container .aside {
    background: #f7f6f6;
    color: #464343;
    grid-column: 4 / 5;
    grid-row: 3 / 7;
}

.container .footer {
    background: #000000;
    color: #e4e4e4;
    grid-column: 1 / 5;
    grid-row: 7 / 8;
}